# LAMBDA QUESTIONS

# FIND EVEN AND ODD NUMBERS USING LAMBDA

In [1]:
lst=[1,2,3,4]
final_lst=[(lambda x:"even" if x%2==0 else "odd")(x) for x in lst]
print(final_lst)

['odd', 'even', 'odd', 'even']

In [10]:
a=[(lambda x: x**3)(x) for x in range(10)]
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [52]:
minus=lambda x,y:x-y
print(minus(9,4))

5

# MAP QUESTIONS

In [19]:
num=[11,12,13,14,15]
nums=map(lambda x:x*2,num)
print(list(nums))

[22, 24, 26, 28, 30]

In [62]:
def square(a):
    return a*a
def cube(a):
    return a*a*a
func=[square,cube]
for i in range(4):
    val=list(map(lambda x:x(i),func))
    print(val)

[0, 0]
[1, 1]
[4, 8]
[9, 27]

In [65]:
base=[2,2,2,2]
num=[1,2,3,4]
result=list(map(pow,base,num))
print(result)

[2, 4, 8, 16]

# ip=[1,2,3,4] => op=[2,8,18,32]

In [22]:
l=[1,2,3,4]
m=map(lambda x:x**2 + x**2,l)
print(list(m))

[2, 8, 18, 32]

In [27]:
l=[1,2,3,4]
c=[]
for i in l:
    c.append(i**2 + i**2)   
print(c)

[2, 8, 18, 32]

# FILTER QUESTION

In [31]:
numbers = (1, 2, 3, 4)
result = filter(lambda x:x%2==0,numbers)
print(list(result))

[2, 4]

In [54]:
lst=[1,2,3,4,5,6,7,8,9,10]
def is_greater(num):
    return num>5
gr_than=list(filter(is_greater,lst))
print(gr_than)

[6, 7, 8, 9, 10]

# ip=[5,8,15,19] => op=[5,3,7,4]

In [28]:
my_list = [5,8,15,19]
diff_list = []
for i in range(1,len(my_list)):
    x = my_list[i] - my_list[i-1]
    diff_list.append(x)
diffs =[my_list[0]] + [x-y for x, y in zip(my_list[1:], my_list[:-1])]
print(diffs)

[5, 3, 7, 4]

In [ ]:
# z=[5,8,15,19]
print(z[1:],z[:-1])
# print(z[:-1])

# REDUCE QUESTIONS

In [1]:
from functools import reduce
score=[23,34,12,67]
total=reduce(lambda a,b:a+b,score)
print(total)
print(type(total))

136
<class 'int'>

In [64]:
from functools import reduce
score=[1,2,3,4]
total=reduce(lambda a,b:a*b,score)
print(total)

24

In [66]:
from functools import reduce
score=[23,34,12,67]
c=list(filter(lambda x:x%2==0,score))
total=reduce(lambda a,b:a+b,c)
print(total)

46

In [2]:
from functools import reduce
score=[23,34,12,67]
total=reduce(lambda a,b:a if a>b else b,score)
print(total)

67

In [6]:
from functools import reduce
def func():
    if a>b:
        return a
    else:
        b
score=[23,34,12,67]
total=reduce(func,score)
print(total)

TypeError: func() takes 0 positional arguments but 2 were given

# ZIP QUESTION

In [55]:
name=['minhaj','suraiya','anam']
rollno=[12,13,14]
add=zip(name,rollno)
print(list(add))

[('minhaj', 12), ('suraiya', 13), ('anam', 14)]

In [61]:
price=[1123,4672,1633]
person=['hardy','alson','jacob']
d={key:value for key,value in zip(person,price)}
print(d)

{'hardy': 1123, 'alson': 4672, 'jacob': 1633}

# ENUMERATE QUESTION

In [57]:
l1=['bhindi','aloo','gajar','tamatar']
for index,item in enumerate(l1):
    if index%2==0:
        print(f"jarvis please buy {item}")

jarvis please buy bhindi
jarvis please buy gajar

In [58]:
alp=['abc','def','ghi']
for pos,name in enumerate(alp):
    print(f"{pos} --> {name}")

0 --> abc
1 --> def
2 --> ghi

In [59]:
program=['python','java','cc']
language=enumerate(program)
print(list(language))

[(0, 'python'), (1, 'java'), (2, 'cc')]

# BISECT MODULE

In [2]:
import bisect
num=509
a=[506,507,508,510]
bisect.bisect(a,num)
bisect.insort(a,num)
print(a)

[506, 507, 508, 509, 510]

# highest number in list without using map

In [36]:
lst=[1,10,17,80,20]
a=0
for i in lst:
    if i>a:
        a=i
print(a)

80

In [37]:
lst=[1,10,17,80,20]
a=0
for i in lst:
    while i>a:
        a=i
print(a)

80

# second highest number in list without using map

In [4]:
lst=[1,10,17,80,20]
for i in range(len(lst)):
    if lst[i]>lst[i-1]:
        lst[i],lst[i-1]=lst[i-1],lst[i]
print(lst[-2])

20

In [8]:
def high_num(lst):
    for i in range(1,len(lst)):
        while lst[i-1]>lst[i] and i>0:
            lst[i-1],lst[i]=lst[i],lst[i-1]
            i=i-1
    return lst[-2]
    
    
lst=[1,10,17,80,20]
print(high_num(lst))

20

# unique number in list

In [67]:
arr = [2,1,4,3,1,4,2]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
# print(arr)

print(odd_occurring_num(arr))

[3]

###

# SORT THE LIST

In [3]:
lt=[11,12,13,5,6]
for i in range(1,len(lt)):
    while lt[i-1]>lt[i] and i>0: 
        lt[i-1],lt[i]=lt[i],lt[i-1]
        i = i-1
# print("updated", lt)        
print(lt)

[5, 6, 11, 12, 13]

In [5]:
x=[3,6,2,9,5,1,7]
x.sort()
print(x)

[1, 2, 3, 5, 6, 7, 9]

In [9]:
a = [5,4,3,2,1,6]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]>a[j]:
            a[i],a[j]=a[j],a[i]
print(a)

[1, 2, 3, 4, 5, 6]

In [6]:
qn=[{"question":"correct extension of python file?",
    "answer":"py.file",
    "explanation":" "},
    {"question":"what is django?",
    "answer":"Django is framework?",
    "explanation":"django is use to create web app"},
    {"question":"what is class in oops?",
    "answer":"A class is a blueprint for the object",
    "explanation":"class contains the properties (attribute) and action (behavior) of the object."},
    {"question":"what is instance varible?",
    "answer":"Attached to an instance of class",
    "explanation":"Instance variables are not shared by objects. Every object has its own copy of the instance attribute. This means that for each object of a class, the instance variable value is different"
     }]
count=1
for x in qn:
    print(count,x["question"])
    count+=1
    print("Ans.",x["answer"])


#     q=x["question"]
#     count=count+1
#     print(i,count,'-',j)

1 correct extension of python file?
Ans. py.file
2 what is django?
Ans. Django is framework?
3 what is class in oops?
Ans. A class is a blueprint for the object
4 what is instance varible?
Ans. Attached to an instance of class

In [7]:
lst=[32,35,15,3,5,7,9,20]
lst2=[]
for item in lst:
    if item%3==0:
        lst2.append(item)
print('without using list comprehension',lst2)
#in one line
print('with using list comprehension',[x for x in lst if x%3==0])

without using list comprehension [15, 3, 9]
with using list comprehension [15, 3, 9]