# write a python program to find common letters between two strings

In [12]:
a="naina"
b="reena"
for i in range(0,len(a)): 
    c=a.count('n')
print(c)
for j in range(0,len(b)):    
    d=b.count('n')
print(d)
# if c==d:
#     print(i)

2
1

In [41]:
def common_str():
    str1=input('enter first string:')
    str2=input('enter second string:')
    s1=set(str1)
    s2=set(str2)
#     print(s1)
#     print(s2)
    lst=s1 & s2
    print('common charaters are',lst)
common_str()

enter first string:anam
enter second string:iram
common charaters are {'m', 'a'}

In [18]:
a={'s','u','n'}
b={'s','o','n'}
c=a & b
print(c)

{'s', 'n'}

# Write a python program to count the frequency of words appearing in string

In [3]:
# txt = "I love red apples apples is red my favorite color"
x=input('Enter str ')
x=x.split()
# print(x)
d={}
for i in x:
    if i not in d.keys():
        d[i]=0
    d[i]=d[i]+1
print(d)

KeyboardInterrupt: Interrupted by user


# sort the list

In [3]:
sort_list=[3,5,1,7,9,17]
for i in range(1,len(sort_list)):
    while sort_list[i-1]>sort_list[i] and i>0:
        sort_list[i-1],sort_list[i]=sort_list[i],sort_list[i-1]
        i-=1
print(sort_list)

[1, 3, 5, 7, 9, 17]

In [11]:
def fibo(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(n): 
        a,b=b,a+b
        print(b)
fibo(10)

0
1
1
2
3
5
8
13
21
34
55
89

In [13]:
def fibon(n):
    if n<=1:
        return n
    else:
        return (fibon(n-1) + fibon(n-2))
n=int(input())
if n<=0:
    print('invalid')
    
else:
    for i in range(n):
        print(fibon(i))

8
0
1
1
2
3
5
8
13

In [3]:
nums = [5,0,1,2,3,4]
# Output: [0,1,2,4,5,3]
# Explanation: The array ans is built as follows: 
ans = [nums[nums[0]], nums[nums[1]], nums[nums[2]], nums[nums[3]], nums[nums[4]], nums[nums[5]]]
[nums[0], nums[2], nums[1], nums[5], nums[3], nums[4]]
#     = [0,1,2,4,5,3]
print(ans)

[4, 5, 0, 1, 2, 3]

In [1]:
nums = [5,0,1,2,3,4]
# Output: [0,1,2,4,5,3]
# Explanation: The array ans is built as follows: 
for i in nums:
#     print(i)
#     a=[nums[nums[i]]]
    a=nums[i]
    i+=1
    print(a)

4
5
0
1
2
3

In [8]:
# a=[5,0,1,2,3,4]
a=[0,2,1,5,3,4]
b=[]
for i in a:
    c=a[i]
    b.append(c)
print(b)

[0, 1, 2, 4, 5, 3]

In [7]:
def replace_index(given_list):
    for i in given_list:
        l=given_list[i]
        new_list.append(l)
    print(new_list)
given_list=[0,2,1,5,3,4]
new_list=[]
replace_index(given_list)

[0, 1, 2, 4, 5, 3]

In [26]:
wealth=[[1,2,3],[3,4,5],[5,6,7]]
for i in wealth:
    for j in wealth:
        if sum(i)>sum(j):
            c=sum(i)
print(c)

18

In [5]:
wealth=[[12,5,4],[7,3,9],[3,5,9]]
b=[]
for i in wealth:
    b.append(sum(i))
print(max(b))

21

In [1]:
l=[2,3,4,24]
m=[]
for i in l:
    m=l.copy()*2
print(m)

[2, 3, 4, 24, 2, 3, 4, 24]

In [8]:
m=[1,2,3]
for i in m:
    print(i)
    i+=1

1
2
3

In [3]:
my_list = [5, 3, 7]
a=[x + sum(my_list[:n]) for n in range(0,len(my_list))]
print(a)

[0, 5, 8]

In [5]:
m=[1,2,3,4]
for i in range(1,len(m)):
    m[i]=m[i]+m[i-1]
print(m)

[1, 3, 6, 10]

In [68]:
n=[10,34,6,7]
a=n[0]
for i in n:
    if i<a:
        a=i
print(a)

6

In [19]:
l=[1,4,2,3]
m=0
for i in l:
    if m>i:
        i=m
print(l)

[1, 4, 2, 3]

# lambda function even odd

In [2]:
l=[1,2,3]
m=[(lambda x:"even" if x%2==0 else "odd") (x) for x in l]
print(m)

['odd', 'even', 'odd']

In [6]:
l=[1,2,3]
m=[(lambda x:"even" if x%2==0 else "odd") (x) for x in l]
print(m)

['odd', 'even', 'odd']

In [10]:
l=[1,2,3]
m=["even" if x%2==0 else "odd" for x in l]
print(m)

['odd', 'even', 'odd']

In [31]:
def even(x):
    for i in x:
        if i%2 == 0:
            q.append("even")
        else:
            q.append("odd")
p=[3,7,8,4]
q=[]
even(p)
print(q)

['odd', 'odd', 'even', 'even']

In [15]:
l=[1,2,3]
m=[x for x in l if x%2==0]
print(m)

[2]

In [20]:
l=[1,2,3,4,5]
m=filter(lambda x:x%2==0 ,l)
print(list(m))

[2, 4]

In [28]:
l=[1,2,3,4,5]
m=map(lambda x:"even" if x%2==0 ,l)
print(list(m))

SyntaxError: expected 'else' after 'if' expression (817872550.py, line 2)

In [25]:
from functools import reduce
l=[1,2,3,4,5]
m=reduce(lambda x,y:x+y ,l)
print(m)

15

In [29]:
from functools import reduce
score=[23,34,12,67]
total=reduce(lambda a,b:a+b,score)
print(total)

136

In [30]:
from functools import reduce
score=[23,34,12,67]
c=list(filter(lambda x:x%2==0,score))
total=reduce(lambda a,b:a+b,c)
print(total)

46

# target qn leet code

In [32]:
num=[2,7,11]
target=13
for i in range(len(num)):
    for j in range(len(num)):
        if num[j] + num[i]==target:
            a=(j,i)
print(list(a))

[0, 2]

# built array from permutation leet code

In [1]:
# a=[5,0,1,2,3,4]
a=[0,2,1,5,3,4]
b=[]
for i in a:
    c=a[i]
    b.append(c)
print(b)

[0, 1, 2, 4, 5, 3]

# Richest costumer wealth leet code

In [2]:
wealth=[[1,2,3],[3,4,5],[5,6,7]]
for i in wealth:
    for j in wealth:
        if sum(i)>sum(j):
            c=sum(i)
print(c)

18

# Concatenation of two array leet code

In [3]:
l=[2,3,4,24]
m=[]
for i in l:
    m=l.copy()*2
print(m)

[2, 3, 4, 24, 2, 3, 4, 24]

# Running sum of 1d array

In [4]:
m=[1,2,3,4]
for i in range(1,len(m)):
    m[i]=m[i]+m[i-1]
print(m)

[1, 3, 6, 10]

# Shuffle the array

In [5]:
def shuffle(self, nums, n):
    result = []
    for index in range(n):
        result.append(nums[index])
        result.append(nums[index + n])
    return result

In [13]:
a=[2,5,1,3,4,7]
# a=[1,1,2,2]
c=[]
n=3
for i in range(n):
    c.append(a[i])
    c.append(a[i+n])
print(c)

[2, 3, 5, 4, 1, 7]

# Kids with greatest number

In [40]:
kids=[2,3,5,1,3]
candy=3
a=[]
for i in range(0,len(kids)):
        if kids[i]+candy >= max(kids):
#                 c='true'
            a.append(True)
        else:
#             d='false'
            a.append(False)
print(a)

[True, True, True, False, True]

In [69]:
a=[1,2,3,1,1,3]
b=a.copy()
for i in a:
    print(i)

1
2
3
1
1
3

In [67]:
def table(n):
    for i in range(1,11):
        print(n,'x',i,'=',n*i)
n=int(input('table of '))        
table(n)

table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

# number of good pairs leet code

In [12]:
# nums=[1,2,3,1,1,3]
nums=[1,1,1]
count=0
n=len(nums)
for i in range(n):
    for j in range(i+1,n):
        if nums[i]==nums[j]:
            count+=1
print(count)

3

# How many smaller number than the current number

In [25]:
nums=[8,1,2,2,3]
l=len(nums)
ans=[]
count=0
for i in nums:
#     print('i',i)
    for j in range(l):
#         print('j',j)
        if (nums[j]-i)<0:
#             print("nums[j]",nums[j])
#             print("i",i)
            count+=1
#             print(count)
    ans.append(count)
    count=0
print(ans)

[4, 0, 1, 1, 3]

# Create target array in given order

In [29]:
a=[0,1,2,3,4]
b=[0,1,2,2,1]
c=[]
for i in a:
    for j in b:
        c.insert(a[i],b[i])
print(c)

[0, 1, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 0, 0, 0, 0]

In [27]:
numbers = [2, 7, 11, 15]
target =9
for x in numbers:
    for y in numbers:
        if x+y==target:
            print(x,y)

2 7
7 2

In [47]:
num=[0,1,2,3,4]
index=[0,1,2,2,1]
target=[]
for i,j in zip(num,index):
    target.insert(j,i)
print(target)

[0, 4, 1, 3, 2]

# Palindrom number leet code

In [51]:
x=input()
y=x[::-1]
if x==y:
    print(True)
    
else:
    print(False)

ror
True

In [11]:
a=input()
print(str(a)==str(a)[::-1])

mam
True

# Check if the sentence is pangram or not

In [10]:
alpha="abcdefghijklmnopqrstuvwxyz"
for i in (alpha):
    if i.isalpha():
         True
    else:
         False
print(i)

z

In [1]:
def pangram():
    for i in a:
        if i.isalpha():
            return True
        else:
            return False
    
a="abcdefghijklmnopqrstuvwxy443z" 
pangram()

True

In [11]:
sentence=input()
# sentence='dailyeatfood'
l=[]
for j in range(len(sentence)):
    if sentence[j] not in l:
        l.append(sentence[j])
#         print(l)
if len(l)==26:
    print(True) 
print(False)

leetcode
False

In [4]:
items = [["phone","blue","pixel"],["computer","silver","lenovo"],["phone","gold","iphone"]], ruleKey = "color", ruleValue = "silver"


count=0
if ruleKey=='type':
    index=0
elif ruleKey=='color':
    index=1
else:
    index=2
for x in items:
    if ruleValue==x[index]:
                count+=1
    return count

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2359244847.py, line 1)

In [12]:
items = [["phone","blue","pixel"],["computer","silver","lenovo"],["phone","gold","iphone"]]
ruleKey = "color"
ruleValue = "silver"

count=0
for i in items:
    if (ruleKey == "type" and i[0] == ruleValue):
        count+=1
    elif (ruleKey == "color" and i[1] == ruleValue):
        count+=1
    elif(ruleKey == "name" and i[2] == ruleValue):
         count+= 1
    print(count)

0
1
1

In [17]:
def solve(items, ruleKey, ruleValue):
    count = 0
    if ruleKey == "type":
        for i in range(len(items)):
            if items[i][0] == ruleValue:
                count += 1
    if ruleKey == "color":
        for i in range(len(items)):
            if items[i][1] == ruleValue:
                count += 1
    if ruleKey == "name":
        for i in range(len(items)):
            if items[i][2] == ruleValue:
                count += 1
    return count
items = [["Bike","blue","ElecB"],["Car","silver","Sumo"],["Bike","blue","TVS"]]
ruleKey = "color"
ruleValue = "blue"
print(solve(items, ruleKey, ruleValue))

2

In [31]:
items = [["phone","blue","pixel"],["computer","silver","lenovo"],["phone","gold","iphone"]]
ruleKey = "color"
ruleValue = "silver"
ruled={"type":0,"color":1,"name":2}
c=0
for i in items:
#     print(i)
#     print(items[ruled[ruleKey]])
    if items[ruled[ruleKey]] == ruleValue:
        print(items[ruled[ruleKey]])
#         print(ruleValue)
        count+=1
print(count)

2

# sum diagonal matrix

In [4]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
total = 0 
for i, x in enumerate(mat):
    if i == len(mat)-i-1:
        total += x[i]
    else: 
        total += x[i] + x[len(mat)-i-1]
print(total)

25

In [58]:
l=[1,2,3,4]
m=int(input("Enter the number to find the index"))
for i in range(len(l)):
    if m == l[i]:
        print("It is the index of given number",i)
        break
else:
    print(-1)

Enter the number to find the index1
It is the index of given number 0

In [11]:
n=[12,322,2]
s=str(n)
print(s)
print(len(s))

[12, 322, 2]
12

# Find numbers with even number of digits

In [18]:
nums = [12,345,21,6,7896]
c=0
for num in nums:
#     print(num)
    s=str(num)
#     print(s)
#     print(len(s))
    if len(s)%2==0:
        c+=1
print(c)

3

# Transpose matrix

In [9]:
matrix=[[1,2,3],[4,5,6]]
m=[]
for i in range(len(matrix[0])):
    print("i",i)
    n=[]
    for j in range(len(matrix)):
        print("j",j)
        n.append(matrix[j][i])
        print("n",n)
    m.append(n)
    print("m",m)

i 0
j 0
n [1]
j 1
n [1, 4]
m [[1, 4]]
i 1
j 0
n [2]
j 1
n [2, 5]
m [[1, 4], [2, 5]]
i 2
j 0
n [3]
j 1
n [3, 6]
m [[1, 4], [2, 5], [3, 6]]

In [73]:
gain = [-5,1,5,0,-7]
ans=[0]
for i in range(len(gain)):
#     print(ans[i],gain[i])
#     print(ans[i]+gain[i])
    ans.append(ans[i]+gain[i])
print(ans)
print(max(ans))

[0, -5, -4, 1, 1, -6]
1

In [78]:
a=12
b=23
print(a%b)

12

In [14]:
a=[2,1,5]
sums= 0
k=181
for i in a:
    sums +=i
    d=sums + k
#     x=d.split()
print(d)

189

In [19]:
b=[2,1,5]
m=806
n=[]
for i in range(len(b)):
    a=b[i]+m
n.append(a)
print(n)

[811]

In [21]:
num=[2,1,5]
k=806
s=''.join(map(str,num))
a=int(s)+k
print([int(i) for i in str(a)])

[1, 0, 2, 1]

In [25]:
num=[2,1,5]
k=806
n = ""
for i in num:
    n+=str(i)
    lista = int(n) + k
    print(list(str(lista)))

['8', '0', '8']
['8', '2', '7']
['1', '0', '2', '1']

In [15]:
gain = [-5,1,5,0,-7]
res=0
height=0
for i in gain:
    height +=i
#     print(res)
    res=max(res,height)
print(res)

1

In [5]:
gain = [-5,1,5,0,-7]
# res=0
height=0
for i in gain:
    height +=i
    c=max(height)
print(c)

TypeError: 'int' object is not iterable

In [9]:
a=input("enter the name")
b=[True if a=[::-1] else False]
print(b)

SyntaxError: expected 'else' after 'if' expression (427235864.py, line 2)

In [16]:
print(5 / 2)
print(5 // 2)

2.5
2

In [2]:
count = 0
while(True):
    if count % 3 == 0:
        print(count, end = " ")
    if(count > 15):
        break;
    count += 1

0 3 6 9 12 15

In [1]:
def solve(a, b):
#     return b if a == 0 else solve(b % a, a)
      c=(b%a,a)
      return c
print(solve(20, 50))

(10, 20)

In [5]:
def solve(a):
    a = [1, 3, 5]
    return a
a = [2, 4, 6]
print(a)
print(solve(a))
print(a)

[2, 4, 6]
[1, 3, 5]
[2, 4, 6]

In [9]:
def sol(a):
    a=[1,2,3]
    return a
c=sol(a)
print(c)

[1, 2, 3]

In [2]:
def func():
    global value
    value = "Local"
   
value = "Global"
# func()
print(value)

Global

In [6]:
def thrive(n):
    if n % 15 == 0:
        print("thrive", end =" " )
    elif n % 3 != 0 and n % 5 != 0:
        print("neither", end =" ")
    elif n % 3 == 0:
        print("three", end =" ")
    elif n % 5 == 0:
        print("five", end =" ")
thrive(35)
thrive(56)
thrive(15)
thrive(39)

five neither thrive three

In [7]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[2, 4, 7, 19, 22, 45, 72, 89]

In [10]:
word = "Python Programming"
n = len(word)
word1 = word.upper()
word2 = word.lower()
converted_word = ""
for i in range(n):
    if i % 2 == 0:
           converted_word += word2[i]
    else:
           converted_word += word1[i]
print(converted_word)

pYtHoN PrOgRaMmInG

In [13]:
def tester(*argv):
    for arg in argv:
        print(arg, end = ' ')
        
tester(['Sunday', 'Monday', 'Tuesday', 'Wednesday'])

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [18]:
from math import *
a = 2.19
b = 3.999999
c = -3.30
print(int(a))
print(floor(b))
print(ceil(c))
print( fabs(c))

2
3
-3
3.3

In [19]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
print(len(set1 + set2))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [25]:
set1 = {1, 3, 5}
set2 = {2, 4, 6,5}
print(len(set1 | set2))

6

In [26]:
set1 = {1, 3, 5}
set2 = {2, 4, 6}
print(len(set1 & set2))

0

In [30]:
set1 = {1, 3, 5}
set2 = {2, 4, 5,5}
print(set1 - set2)
# print(len(set1 - set2))

{1, 3}

In [34]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 4, 6}
print(s1 ^ s2)  #symmetric_difference keep all but not the duplicate

{1, 3, 5, 6}

In [35]:
print(str(2 ** 3 + 5 ** 2))

33

In [1]:
A=[[1,1,0],[1,0,1],[0,0,0]]
n = len(A)
for i in range(n):
      for j in range((n + 2) // 2):
        A[i][j],A[i][n-j-2] = A[i][n-j-1]^2, A[i][j]^1
print(A)

[[1, 2, 0], [1, 2, 1], [0, 3, 0]]

In [12]:
image=[[1,1,0],[1,0,1],[0,0,0]]
for i in range(len(image)):
    c=image[i].reverse()
#     print("c",c)
    for j in range(len(image[i])):
        if image[i][j] == 0:
            image[i][j] = 1
        elif image[i][j] == 1:
            image[i][j] = 0
print(image)

[[1, 0, 0], [0, 1, 0], [1, 1, 1]]

In [25]:
A=[[1,1,0],[1,0,1],[0,0,0]]
for i in range(len(A)):
    A[i] = A[i][::-1]
#     print("A[i]=",A[i])
    for j in range(len(A[i])):
#         print('a[i]=',A[i],'a[j]=',A[j])
        A[i][j] = 1 - A[i][j]
#         print('then a[i]=',A[i],'a[j]=',A[j])
print('A=',A)

A= [[1, 0, 0], [0, 1, 0], [1, 1, 1]]

In [4]:
for i in range(1,10,-1):
    print(i)

In [10]:
a="123456789"
print(a[5:-9:-1])

65432

In [34]:
M= [[1,2,3],[4,5,6],[7,8,9]]
sum=0
for i in range(M):
    for j in range(M):
        if i==j:
            sum=sum+M[i][j]
        elif i+j==M-1:
            sum=sum+M[i][j]
print(sum)

TypeError: 'list' object cannot be interpreted as an integer

In [36]:
mat= [[1,2,3],[4,5,6],[7,8,9]]
res = 0
j = len(mat)-1
for i in range(len(mat)):
    res += mat[i][i]
    res += mat[i][j]
    j -= 1
print(res if len(mat) % 2 == 0 else res - mat[len(mat)//2][len(mat)//2])

25

In [37]:
x = 5

# defining 1st function
def function1():
    print("Value in 1st function :", x)

# defining 2nd function
def function2():
    # Modify global variable using global keyword
    global x
    x = 555
    print("Value in 2nd function :", x)

# defining 3rd function
def function3():
    print("Value in 3rd function :", x)

function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 555

In [11]:
class A:
	def __init__(self):
		self.count=5
		self.count=6
a=A()
print(a.count)

6

In [44]:
class Book:
	def __init__(self,author):
		self.author=author
book1=Book("V.M.Shah")
book2=book1
print(id(book1))
print(id(book2))

2546726290624
2546726290624

In [43]:
class A:
    def __init__(self, x= 1):
        self.x = x
class der(A):
    def __init__(self,y = 2):
        super().__init__()
        self.y = y
def main():
    obj = der()
    print(obj.x, obj.y)
main()

1 2

In [49]:
print(ord(chr(97)))

97

In [53]:
a=0

b=5

x=(a&b)|(a&a)|(a|b)

print("x")

x

In [55]:
if False:
	print ("inside if block")
elif True:
	print ("inside elif block")
else:

	print ("inside else block")

inside elif block

In [5]:
# list are less efficient as compare to tuple
a=[]
b=[]
print(id(a))
print(id(b))

2223353941504
2223353812608

In [10]:
c=()
d=()
print(id(c))
print(id(d))
print(type(c))
print(type(d))

2223245836400
2223245836400
<class 'tuple'>
<class 'tuple'>

In [3]:
mat=[[1,2,3],[4,5,6],[7,8,9]]
total = 0 
for i, x in enumerate(mat):
    if i == len(mat)-i-1:
        total += x[i]
    else: 
        total += x[i] + x[len(mat)-i-1]
print(total)

4
9
25

In [4]:
# how many times object and refrence variable will be there at end line 11
class Table:
    def __init__(self):
        self.no_of_legs=4
        self.glass_top=None
        self.wooden_top=None
dining_table=Table()
back_table=Table()
front_table=back_table
back_table=dining_table
dining_table=front_table
front_table=back_table  #11

In [3]:
# how many times object and refrence variable will be there at end line 11
class Table:
    def __init__(self):
        self.no_of_legs=4
        self.glass_top=None
        self.wooden_top=None
dining_table=Table()
print('dining_table',dining_table)
back_table=Table()
print('back_table',back_table)
front_table=back_table
print('front_table',front_table)
back_table=dining_table
print('back_table',back_table)
dining_table=front_table
print('dining_table',dining_table)
front_table=back_table  #11
print('front_table',front_table)

dining_table <__main__.Table object at 0x0000025DD941E5F0>
back_table <__main__.Table object at 0x0000025DD941C1C0>
front_table <__main__.Table object at 0x0000025DD941C1C0>
back_table <__main__.Table object at 0x0000025DD941E5F0>
dining_table <__main__.Table object at 0x0000025DD941C1C0>
front_table <__main__.Table object at 0x0000025DD941E5F0>

In [1]:
class A:
	print("Inside class")
print(A())
print(A())
obj=A()
print(obj)

Inside class
<__main__.A object at 0x000001E352CAF550>
<__main__.A object at 0x000001E352CAE170>
<__main__.A object at 0x000001E352CAF550>

In [2]:
str1="poWer"
str1.upper()
print(str1) 
# Explanation: str1.upper() returns the uppercase of whole string str1.
# However,it doesnot change the string str1. So, output will be the original str1.

poWer

In [9]:
list1=[0,2,5,1]

str1=7

for i in list1:

	str1=str1+i

print(str1)

15

In [12]:
str1="John,Simon,Aryan"
print(str1[-11:-6])

Simon

In [13]:
list1=[]*3
print(list1)

[]

In [20]:
# average calculate
list1=[1,2,3]
print(sum(list1)/len(list1))

2.0

In [2]:
s=(1,2,4,{5,6,7})
print(s)

(1, 2, 4, {5, 6, 7})

In [3]:
l={2,3,4,[6,8,0]}
print(l)

TypeError: unhashable type: 'list'

In [9]:
class A:
    def process(self):
        print(" In class A")

class B(A):
    def process(self):
        b=super().process()
        print(" In class B")

class C(B, A):
#     def process(self):
        pass
#         print(" In class C")

# Creating object of C class
C1 = C()
C1.process()
# print(C.mro())

 In class A
 In class B

In [17]:
l=[4,54,3,4,5,6,4,23]
print(l[0:8:2])

[4, 3, 5, 4]

In [22]:
l=[4,54,3,4,5,6,4,23]
m=l[::-1]
print(m[1::2])

[4, 5, 3, 4]

# ip=[4,54,3,4,5,6,4,23] op=[4,5,3,4]

In [19]:
l=[4,54,3,4,5,6,4,23]
print(l[-2::-2])

[4, 5, 3, 4]

In [24]:
str1="python"
print(str1[0:1000])

python

In [26]:
str1="poWer"

c=str1.upper()

print(c)

POWER

In [33]:
list1=[0,2,5,1]

str1=7

for i in list1:
    str1=str1+i
    print(str1)

7
9
14
15

In [38]:
tupl=("annie","hena","sid")

print(tupl[-3:0])

()

In [40]:
dict1={"a":10,"b":2,"c":3}
for i in dict1:
    print(i)

a
b
c

In [48]:
num = int(input())
Sum = 0
for i in range(1, num):
    if(num % i == 0):
        Sum = Sum + i
if (Sum == num):
    print(" %d is a Perfect Number" %num)
else:
    print(" %d is not a Perfect Number" %num)

2
 2 is not a Perfect Number

In [55]:
class cube:
    def __init__(self, max=0):
        self.max = max
    def __iter__(self):
        self.n = 0
        return self
    def __next__(self):
        if self.n <= self.max:
            result = self.n**3
            self.n += 1
            return result
        else:
            raise StopIteration
# create an object
numbers = cube(4)
# create an iterable from the object
i = iter(numbers)
# Using next to get to the next iterator element
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

0
1
8
27
64

StopIteration:

In [2]:
l=[1,2,0]
for i in range(len(l)):
    if l[i]<9:
        l[i]+=1
    l[i]=0
    i-=1
print(l)

[0, 0, 0]

In [4]:
digits=[1,2,3]
a=''.join(map(str,digits))
b=int(a)+1
c=str(b)
print(list(map(int,c)))

[1, 2, 4]

In [8]:
digits=[1,2,9]
a=''.join(map(str,digits))
b=a+1
# c=str(b)
print(list(map(int,b)))

TypeError: can only concatenate str (not "int") to str

In [12]:
class Solution:
    def plusOne(self, x):
        y=[]
        for i in x:
            y.append(str(i))
        z=int("".join(y))
        e=str(z+1)
        l=[]
        for c in e:
            l.append(int(c))
        return l
user=Solution()
user.plusOne([1,2,3])

[1, 2, 4]

In [9]:
a=[1,2,4]
b=a
a.append(3)
print(b)

[1, 2, 4, 3]

In [10]:
a=[12,13,14]
b=a.copy()
a.append(15)
print(b)

[12, 13, 14]

In [16]:
try:
    a=10
    b=2
    c=a/b
    print("the answer of and b is",c)
except:
    print("cant divide with zero,provide non zero num")
    
finally:
    print("hello")

the answer of and b is 5.0
hello

In [14]:
a=10
b=0
c=a/b
print("the answer of and b is",c)
print("hello")

ZeroDivisionError: division by zero

In [2]:
d={"a":1,"b":2,"a":3}
print(list(d))
print(d)

['a', 'b']

In [4]:
myDict = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}
keysList = list(myDict.keys())
print(keysList)

['a', 'b', 'c']

In [7]:
d1={{'a','b'}:1}
print(d1)

TypeError: unhashable type: 'set'

In [14]:
l = [None] * 10
print(l)
print(len(l))

[None, None, None, None, None, None, None, None, None, None]
10

In [26]:
list1 = ['bxyz', 'ara', 'zpyative']
print (max(list1))

zpyative

In [30]:
tuple1 = (1120, 'a')
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [31]:
aTuple = ("Orange")
print(type(aTuple))

<class 'str'>

In [32]:
aTuple = tuple("Orange")
print(type(aTuple))

<class 'tuple'>

In [33]:
aTuple = ("Orange",)
print(type(aTuple))

<class 'tuple'>

In [34]:
aTuple = (100,)
print(aTuple * 2)

(100, 100)

In [44]:
aTuple = (100, 200, 300, 400, 500)
print(aTuple)
del aTuple
# print(aTuple[0:4])
print(aTuple)

(100, 200, 300, 400, 500)

NameError: name 'aTuple' is not defined

In [41]:
a="orange",
print(a)
print(type(a))

('orange',)
<class 'tuple'>

In [45]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)

{'Blue', 'Red', 'Orange', 'Yellow', 'Green', 'Black'}

In [46]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

set1.difference_update(set2)
print(set1)

{'Black', 'Yellow'}

In [47]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{'PYnative', 1, ('abc', 'xyz')}

In [48]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}
print(aSet)

TypeError: unhashable type: 'list'

In [49]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.pop("age")
print(temp)

KeyError: 'age'

In [51]:
str = "my name is James bond";
print (str.title())

My Name Is James Bond

In [55]:
print("Jahn" > "Jhon")
print("Emma" > "EmmA")

False
True

In [58]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub, 4,15))

2

In [62]:
str = "j";
print(str.isalnum())

True

In [65]:
str1 = "My salary is";
str2 = "7000 jj"

print(str1.isdigit())
print(str2.isdigit())

False
False

In [66]:
str1 = "PYnative"
print(str1[1:4], str1[:5], str1[4:], str1[0:-1], str1[:-1])

Yna PYnat tive PYnativ PYnativ

In [73]:
strOne = "pynative"
strTwo = "pynative"
print(strOne == strTwo)
print(strOne is strTwo)
print(id(strOne))
print(id(strTwo))

True
True
1442413204976
1442413204976

In [75]:
str1 = 'Welcome'
print (str1[:6] + ' PYnative')

WelcomPYnative

In [79]:
var= "James Bond"
print(var[2:-10:-1])

ma

In [80]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [87]:
salary = 8000

def printSalary():
    global salary
    salary = 12000
    print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 12000

In [88]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [89]:
print(9.0*5*6)

9.0

In [94]:
for x in range(1, 5, 1.2):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [95]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

In [3]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
out = []
while matrix:
    out+=matrix.pop(0)
    print(out)
    if matrix:
        for i in range(len(matrix)-1):
            if len(matrix[i])!=0:
                    out.append(matrix[i].pop())
    if matrix:
        out+=matrix.pop()[::-1]
    if matrix:
        for i in range(1,len(matrix)+1 ):
            if len(matrix[-i])!=0:
                out.append(matrix[-i].pop(0))
            
    print(out)

[1, 2, 3]
[1, 2, 3, 6, 9, 8, 7, 4]
[1, 2, 3, 6, 9, 8, 7, 4, 5]
[1, 2, 3, 6, 9, 8, 7, 4, 5]