# find the unique number in a list using function?
Sample Input : [2,1,4,3,1,4,2]
Sample Output : 3

In [38]:
arr = [2,1,4,3,1,4,2,5]
def odd_occurring_num(arr):
    return [i for i in arr if arr.count(i) < 2]
# print(arr)

print(odd_occurring_num(arr))

[3, 5]

In [23]:
l=[2,1,3,2,1]
def odd(l):
    for i in l:
        if l.count(i)<2:
            print(odd(l))

In [37]:
a=[2,1,4,3,5,2,1,4,3]
r=0
for i in a:
    r^=i
print(r)

5

# 1.find the student who has Highest marks ?
Input :  student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
Output : {'xyz':78}

In [24]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=' '
for i in student:
    var=student.get(i)["score"]
    if var>max:
        max=var
        stu=i
print({stu:max})

{'Talha': 78}

# 2. Sort the list on the basis of second element in the tuple ?
Sample Input = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
Sample Output = [(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]Ì€

In [29]:
tup = [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
def SortTuple(tup):  
    n = len(tup)
    for i in range(n):
        for j in range(n-i-1):
            if tup[j][1] > tup[j + 1][1]:
                tup[j], tup[j + 1] = tup[j + 1], tup[j]
    return tup    
print(SortTuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

# 3.Swap adjacent elements in a list without using inbuilt functions?

In [6]:
swap_list=[21,22,23,24,25]
for i in range(1,len(swap_list)):
    swap_list[i],swap_list[i-1]=swap_list[i-1],swap_list[i]
print(swap_list)

[22, 23, 24, 25, 21]

In [2]:
l=[2,1,3,4,5]
for i in (0,len(l),2):
    if i<len(l):
        l[i],l[i+1]=l[i+1],l[i]
print(l)

[1, 2, 4, 3, 5]

In [4]:
l=[32,33,34,35,0,1]

for i in range(1,len(l),2):
    l[i],l[i-1]=l[i-1],l[i]
print(l)

[33, 32, 35, 34, 1, 0]

# 4. Write a program to enter the number till the user wants and at the
end it should display the sum of all numbers entered.(using while loop)

In [ ]:
a=int(input())
b=int(input())
def sum(a,b):
    print(a+b)
sum(a,b)

In [4]:
result=0
i=0
b=[]
n=int(input('enter number you want to add'))
for j in range(n):
    k=int(input('enter the number'))
    b.append(k)
while i<len(b):
    result=result+b[i]
    i+=1
print('sum of all the number',result)

enter number you want to add3
enter the number1
enter the number2
enter the number3
sum of all the number 6

# 6.Create a iterator to find all the Power of 3?

In [9]:
l=[1,2,3]
for i in l:
    a=i**3
    i+=1
    print(a)

1
8
27

In [12]:
a=[3,4,5]
b=iter(a)
print(b)
print(next(b))
print(next(b))

<list_iterator object at 0x00000180309BAD70>
3
4

# 7.give example of Multilevel Inheritence and use super function in the same

In [28]:
class Bus:
    def __init__(self,name):
        self.name=name
    def info(self):
        print('name',self.name)
class Car(Bus):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
    def info(self):
        print('name',self.name,'age',self.age)
class Truck(Car):
    def __init__(self,name,age,alpha):
        super().__init__(name,age)
        self.alpha=alpha
    def info(self):
        print('name',self.name,'age',self.age,'alpha',self.alpha)
        
obj=Truck('minhaj',21,'A')        
obj.info()

name minhaj age 21 alpha A

# 8.Convert a local variable into global variable and give the methods to access the same

In [55]:
 
def local_func():
    global y
    y="awesomE"
    print("Sky is",y)
local_func()
print("Sky is",y)

SyntaxError: name 'y' is assigned to before nonlocal declaration (535920211.py, line 4)

# input="sky is blue" output="blue is sky"

In [129]:
st="sky is blue"
lt=st.split()
# x=x[::-1]
# z=" ".join(st.split()[::-1])
print(lt)
print(type(lt))

['sky', 'is', 'blue']
<class 'list'>

In [30]:
dict1 = [{'item':'item1','amount':'400'},{'item':'item2','amount':'3000'},{'item':'item1','amount':'750'}]
dict2=[]
for i in dict1:
    c=i["amount"]
    dict2.append(float(c))
print(sum(dict2))
#     i+=1
#     print(sum(d))

4150.0

# 10.Find the even and odd from the given list using anonymous function

In [45]:
x=[2,3,4,5]
b=[]
def func(x):
    for i in x:
        if i%2==0:
            print("even") 
        else:
            print("odd") 
            b.append(x)
func(x)

even
odd
even
odd

In [60]:
list1=[12,14,15,16,17]
y=map(lambda x:"even" if x%2==0 else "odd",list1)
print(list(y))

['even', 'even', 'odd', 'even', 'odd']

# ip="a,a,b,b,c,c,c" => op=a:2,b:2,c:3

In [97]:
ip="a,b,b,c,c,c"
lp=ip.split(',')
ep=[]
for i in lp:
    if i not in ep:
        print(f"{i}:{lp.count(i)}",end=",")
        ep.append(i)

a:1,b:2,c:3,

In [98]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    square = num1*2
    # return four values
    return add, sub, multiply, division, square

# read four return values in four variables
a, b, c, d ,e= arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)
print("Square",e)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0
Square 20

In [100]:
def add(a,b):
    c=a*2
    return c
d=add(2,3)
print('power is',d)

power is 4

In [131]:
a=[254,56,120,30,0.5,0]
c=0
for i in a:
    if c<i:
        c=i
print(c)

254

In [126]:
class findmax:
    def __init__(self,a):
        self.a=a
    def show(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
        return c
obj=findmax(a)
obj.show()

254

In [124]:
class listh:
#     def __init__(self,a):
#         self.a=a
    def show(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
obj1=listh()
obj1.show()

In [145]:
class findmaxm:
#     def __init__(self,a):
#         self.a=a
    def max(self):
        a=[254,56,120,30,0.5,0]
        c=0
        for i in a:
            if c<i:
                c=i
        return c
obj=findmaxm()
obj.max()

254